<%- include partials/header.ejs %>
<head>
    <link rel="stylesheet" href="/css/enroll.css">
</head>

<body>
    <div class="container col-md-8 col-centered">
        <h2>Add Course</h2>
        <form class="enroll-form" method="POST" action="/enroll" >
            <div class="form-group">
                <label for="code" class="enrollmentcodetitle">Enrollment Code</label>
                <input id="code" name="code" class="form-control" onkeyup="verifyCode(this)" placeholder="">
                <small id="codeHelp" class="form-text text-muted">
                    Enter the enrollment code provided by <%= user.instructor? "the course admin" : "a courseinstructor" %> here.
                </small>
                <div class="codedialogue">
                    <br>
                    <div id='codemessage'></div>
                    <button id='enrollbutton' style="display: disabled" type="submit" class="btn btn-primary">Enroll</button>
                </div>
            </div>
        </form>
    </div>
</body>

<script>
    async function verifyCode(el) {
        if (el.value.length > 7) {
            let response = await fetch('/api/verifycode?instructor=<%=user.instructor? 1 : 0 %>&code=' + el.value,
                { method: 'GET', credentials: 'same-origin'});
            let json = await response.json();
            let data = JSON.parse(json);
            let message = document.getElementById('codemessage');
            let button = document.getElementById('enrollbutton');
            if (data.valid) {
                message.style.color = 'green';
                message.innerHTML = 'Would you like to enroll in <b>' + data.coursename + '</b>?';
                button.style.display = 'block';
                button.style.backgroundColor = '#57B55C';
            } else {
                message.style.color = 'red';
                message.innerHTML = 'This code is invalid. ' + (data.err? data.err : '');
                button.style.backgroundColor = '#FF0033';
            }
        }
    }
</script>

<%- include partials/footer.ejs %>
