<%- include partials/header.ejs %>

<div class="container" >
    <br>
    <div class="alert alert-danger">
        <strong>Error!</strong> <%= (locals.message)? message : '' %>
    </div>
    <p><%= (locals.error)? error.stats : ''%></p>
    <br>
    <div><%= (locals.error)? error.stack : '' %></div>
</div>
