.grade-editor {
    display: none;
}

.undo-grade {
    display: none
}

.done-grade {
    display: none;
}

.expand-grade {
    float: right;
    color: #007bff;
}

.bulk-grade-button {
    margin-bottom: 5px;
}