@import url("https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro");

* {
    font-family: "Montserrat";
}

.body {
    background-color: #dadbbb;
}

.scroll-col {
    overflow-y: auto;
    max-height: 80vh;
}

.off-white-bg {
    background-color: aliceblue;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*
    #002500

    #436c00
    #b1ca80

    #f8f7f5
    #bab9b6
*/