@import url("https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro");

* {
    font-family: "Montserrat";
}

/* body {
    background-color: #0A192E;
} */

h2 {
    margin-bottom: 1.5rem;
    /* color: #eeeeee; */
}

/* Use this for mini titles, e.g. h4 */
.mini-title {
    margin-bottom: 1.1rem;
}

/* label {
    color: #eeeeee;
}

h4 {
    color: #eeeeee;
} */
/* a {
    color: #1D8FD1;
} */

.warning-button {
    background-color: #FF0033;
    border-color: #FF0033;
    color: white;
}

.button-link {
    width: 150px;
}

.scroll-col {
    overflow-y: auto;
    max-height: 80vh;
}

.off-white-bg {
    background-color: aliceblue;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

/*
    #002500

    #436c00
    #b1ca80

    #f8f7f5
    #bab9b6
*/